:root {
    --main_color: #800080;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background-color: var(--main_color);
    color: white;
    text-align: left;
    padding: 20px;
    margin-top: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 1200px;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 15px 10px 15px 10px;
}

th {
    border: 3px solid black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--main_color);
    color: white;
}
header, body {
    font-family: Amasis MT Pro;
}