.page_ajout_modif {
    width: 400px;
    margin: 50px auto 0;
}
.section{
    height: 700px;
    width: 400px;
    background: linear-gradient(to top, rgba(77, 0, 110, 0.78), rgba(204, 83, 255, 0.78));
    border-radius: 15px;
}
.nom_film_input {
    width: 300px;
    height: 15px;
    font-size: 15px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}