:root{
    --main_Color: rgba(112, 0, 165, 0.78);
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: var(--main_Color);
    margin-bottom: 25px ;

}
body{
    padding: 0;
    margin: 0 auto;
}
.page {
    width: 1500px;
    margin: 0 auto;
}
.ZoneInfo{
    width: 1500px;
    height:100px;
    background-color: lightgrey;
    border-radius: 3px;
    border: black 1px solid;
    margin-bottom: 25px ;
    display: flex;
}
.zoneProduits {
    width: 1500px;
    height:600px;
    background-color: lightgrey;
    border-radius: 3px;
    border: black 1px solid;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}
.boutonsModifierProduits {
    display: flex;
    margin-left: 190px;
}
.boutonModifierProduits {
    width: 500px;
    height: 50px;
    background-color: lightgrey;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    border-color: lightgrey;
}
.infomagasin{
    font-weight: bold;
    font-size: 40px;
    display: flex;
    align-items: center;

}
.produit{
    width: 550px;
    height: 100px;
    background-color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 85px;
    margin-right: 85px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}